<div
  id="carouselExampleCaptions"
  style="width: 90%"
  class="relative mx-auto carousel slide"
  data-bs-interval="false"
  data-bs-ride="carousel"
>
  <div
    class="absolute left-0 right-0 flex justify-center px-5 mx-auto mb-4 bg-gray-800 rounded-md bottom-8 bg-opacity-40 w-fit carousel-indicators"
  >
    <ng-container *ngIf="dataList.imagePath.length > 1">
      <button
        *ngFor="let item of dataList.imagePath; let i = index; let x = first"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        [attr.data-bs-slide-to]="i"
        class="{{ x ? 'active' : '' }}"
      ></button>
    </ng-container>
  </div>
  <div class="relative w-full h-full overflow-hidden carousel-inner">
    <div
      *ngFor="let data of dataList.imagePath; let x = first"
      class="relative float-left w-full carousel-item"
      [ngClass]="{ active: x }"
    >
      <img [src]="data.imagePath" class="block w-full rounded-lg" alt="..." />
      <!-- <div class="absolute hidden mx-auto text-center carousel-caption md:block w-fit">

        <p class="px-2 py-2 bg-gray-800 rounded-md bg-opacity-40 ">{{data.imageTitle}}</p>
      </div> -->
      <p class="py-2 mx-auto text-xs md:text-base">{{ data.imageTitle }}</p>
    </div>
  </div>
  <ng-container *ngIf="dataList.imagePath.length > 1">
    <button
      class="absolute top-0 bottom-0 left-0 flex items-center justify-center p-0 text-center border-0 carousel-control-prev hover:outline-none hover:no-underline focus:outline-none focus:no-underline"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span
        class="inline-block p-5 bg-black bg-opacity-100 bg-no-repeat rounded-md carousel-control-prev-icon"
        aria-hidden="true"
      ></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="absolute top-0 bottom-0 right-0 flex items-center justify-center p-0 text-center border-0 carousel-control-next hover:outline-none hover:no-underline focus:outline-none focus:no-underline"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span
        class="inline-block p-5 bg-black bg-opacity-100 bg-no-repeat rounded-md carousel-control-next-icon"
        aria-hidden="true"
      ></span>
      <span class="visually-hidden">Next</span>
    </button>
  </ng-container>
</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
