<div fxFlex>
  <mat-sidenav-container fxFill>
    <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" [disableClose]="!isMobile">
      <nav class="flex justify-center w-full h-full bg-colorPrimary py-7">
        <!-- <div [routerLink]="['/home']" routerLinkActive="border-colorReactiveDark border-4"
          (click)="isMobile ? sidenav.close() : sidenav.open()"
          class="w-40 h-40 mb-10 rounded-full hover:border-4 hover:border-colorReactiveDark hover:cursor-pointer">
          <img src="./output/images/sidebar/new_passport_photo.jpg" class="object-cover w-full h-full rounded-full"
            alt="" />
        </div> -->
        <div class="flex flex-col gap-5">
          <div
            [routerLink]="['/home']"
            routerLinkActive="border-colorPrimaryContrast border-2"
            (click)="isMobile ? sidenav.close() : sidenav.open()"
            class="flex items-center justify-center w-16 h-16 rounded-full mb-14 bg-colorReactiveDark hover:border-2 hover:border-colorReactiveContrast hover:cursor-pointer"
          >
            <p class="text-3xl font-bold font-styleSerif text-colorReactiveContrast">A</p>
          </div>
          <a
            *ngFor="let sidebarNavigation of sidebarNavigations"
            [routerLink]="[sidebarNavigation.link]"
            routerLinkActive="link-underline-active"
            (click)="isMobile ? sidenav.close() : sidenav.open()"
            class="self-start tracking-widest uppercase text-colorPrimaryContrast link link-underline link-underline-black font-styleMono"
            >{{ sidebarNavigation.title }}</a
          >
        </div>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="px-8 py-5">
        <button mat-icon-button class="hover:bg-colorNeutralDark hover:bg-opacity-40" (click)="sidenav.toggle()">
          <mat-icon
            class="{{
              router.url === '/home' ? 'text-colorPrimaryContrast' : 'text-colorRegularDark'
            }}  transition duration-200 ease-in-out delay-150 {{ sidenav.opened ? 'rotate-90' : '' }}"
            >menu
          </mat-icon>
        </button>
      </div>
      <div class="px-8">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
