<div class="absolute top-0 right-0 w-full lg:h-full bg-gray-900 -z-10">
  <div class="flex flex-col justify-between h-full px-10 pt-32 md:pt-26 lg:pt-40">
    <div class="flex flex-col gap-5">
      <p class="text-2xl text-white font-regular md:text-3xl lg:text-4xl lg:w-200">
        Hi, I'm Azizan - Frontend Developer
      </p>
      <p class="text-sm text-white text-opacity-50 sm:text-md lg:text-lg lg:w-80">
        Software Engineer with 4+ years of experience in Frontend Development using frameworks such as Angular, Ionic,
        and Flutter.
      </p>
      <p class="text-sm text-white text-opacity-50 sm:text-md lg:text-lg lg:w-80">
        A team player and an avid learner. Passionate in solving problems, and constantly seeking knowledge and taking
        up challenges to improve my engineering skills.
      </p>
      <!-- <p class="text-sm text-white text-opacity-60 sm:text-md lg:text-lg lg:w-72">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi,
          itaque
          recusandae eius consequuntur doloremque magnam voluptates! Tempora optio explicabo deserunt ratione ea quos illo
          sapiente.</p> -->
      <div class="flex items-center gap-5 text-lg text-white">
        <mat-icon class="text-red-400">mail</mat-icon>
        <p class="font-thin tracking-widest" style="margin: 0 !important">azizan.azman@gmail.com</p>
      </div>
      <div class="flex items-center gap-5 text-lg text-white">
        <mat-icon class="text-red-400">call_outline</mat-icon>
        <p class="font-thin tracking-widest" style="margin: 0 !important">+601-116354474</p>
      </div>
    </div>
    <div class="flex justify-center lg:absolute lg:bottom-0 lg:right-10">
      <div class="w-[18rem] lg:w-[23rem]">
        <img src="./output/images/home/home_picture.png" class="object-cover w-full h-full" />
      </div>
    </div>
  </div>
</div>
